<p>
Developer and Open Source enthusiast. Currently very excited about Rust.
</p>
<p>
<i class="fab fa-github"></i> <a href="https://github.com/bradfier">bradfier</a>
</p>
<p>
<i class="fas fa-envelope"></i> <a href="mailto:bradfier@fstab.me">bradfier@fstab.me</a>
</p>
