@font-face {
    font-family: 'Slabo 13px';
    font-style: normal;
    font-weight: 400;
    src: local('Slabo 13px'), local('Slabo13px-Regular'), url(/static/webfonts/Slabo13px-Regular.ttf);
}


body {
    font-family: "Slabo 13px";
    font-size: 11pt;
}

.container {
}

.sidebar {
    font-size: 13px;
    padding-top: 20px;
}

.sidebar a {
    color: #444;
    text-decoration: underline;
}

.sidebar p {
    margin-top: 0;
    margin-bottom: 0.37em;
}

article p {
    line-height: 1.5;
    font-size: 1em;
}

article code {
    color: #8d0745;
}


h2 {
    font-size: 1.75em;
    margin: .67em 0
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.25em;
}

pre {
    border: 1px #ddd solid;
    border-radius: 0;
    padding: 9px;
    overflow-x: auto;
    line-height: 1.3;
    font-family: monospace;
    font-size: 11pt;
}

.stubdate {
    color: #555;
}
